body{font-family: 'Noto Sans KR', sans-serif; overflow:initial;}
.nav1 {display: flex; justify-content: space-between; padding-left: 0.5em; padding-right: 0.5em;}
.close {font-size: 2.3em; }
.number{font-size: 2.3em;}
.classfication1 {display: flex;  margin-top: 1.3em; justify-content: space-around; width: 100%; }
.classfication1 p {font-size: 1.2em; }
.classfication2 {display: flex;  margin-top: 1em; margin-left: 26%; }
.classficationbaby {width: 25%;margin-right: 5.4%; }
.classfication2 p {font-size: 1.2em;  }
.manual {margin-left: -3em;}
.classfication3 {display: flex; margin-top: 3em; padding-left: 0.5em;}
.name {font-size: 1.2em; position: relative;}
.text1 { font-size: 1em; line-height: 1.7em; position: absolute; left: 26%;}
.text2 {width: 1000px; font-size: 1.1em;  margin-top: 210px; line-height: 1.6em; position: relative; 
left: 26%}
.nav2{height: 100px; margin-top: 50px; display: flex; justify-content: space-between; padding: 0.5em; 
padding-top: 1em; position: relative;}
.nav2 p {font-size: 2.3em;}
.grotesk {
font-family: neue-haas-grotesk-display,sans-serif;
font-weight: 500;
font-style: normal;

}
.color {margin-left: -1.7em;}
.signname {margin-left: -1.3em;}
.bar {width: 3%; position: relative; left: 49%; top:300px;}
.roadsign {width: 30%; position: relative; top: -550px; left: 35%; z-index: 10; filter: drop-shadow(10px 10px 10px #fff)}
.textsign {width: 30%; position: relative; top: -500px; left: 35%;filter: drop-shadow(10px 10px 10px #fff) }
.stoplogo {width: 7%; position: relative; top: -350px; left: 73%;}
.signnumber {font-size: 2em; position: relative; top: -440px; left: 81.5%;}
.nav3{height: 100px; margin-top: 50px; padding: 0.5em; padding-top: 1.5em; position: relative; top: -400px; }
.nav3 p {font-size: 2.8em;}
.rolling {position: relative; top: -400px;}
.nav4{height: 100px; margin-top: 50px; padding: 0.5em; padding-top: 1.5em; position: relative; top: -455px; }
.nav4 p {font-size: 2.8em;}
.nav5{height: 100px; margin-top: 50px; padding: 0.5em; padding-top: 1.5em; position: relative; top: -535px;}
.nav5 p {font-size: 2.8em;}

.slider {
  position: relative;
  width: 100%;
  height: 1800px;
  overflow: hidden;
  
  background-color: black;
  top: -470px;
}


.slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding: 40px;
  text-align: center;
  font-size: 20px;

  opacity: 0;
  cursor: pointer;
}

.slider .slide h2 {
  margin-bottom: 10px;
  margin-top: 60px;
}

.slider .slide img {width: 70%; padding-top: 10%;}
.slider .slide.active { opacity: 1; }

.slider .slide:nth-child(1) { background-color: black; }

.slider .slide:nth-child(2) { background-color:  black; }

.applicationimg {position: relative; top: -540px;}

.application {height: 390px;}

 a:link { color: black; text-decoration: none;}
 a:visited { color: black; text-decoration: none;}
 a:hover { color: black; text-decoration: none;}


.nav6{height: 100px; margin-top: 50px; padding: 0.5em; padding-top: 1.5em; position: relative; top: 100px;}
.nav6 p {font-size: 2em; }


.slider2 {
  position: relative;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  top: -470px;
}

.slider2 .slide2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding: 40px;
  text-align: center;
  font-size: 20px;

  opacity: 0;
  cursor: pointer;
}

.slider2 .slide2 h2 {
  margin-bottom: 10px;
  margin-top: 60px;
}

.slider2 .slide2 img {width: 70%; }
.slider2 .slide2.active2 { opacity: 1; }

.slider2 .slide2:nth-child(1) {background-color: white;}

.slider2 .slide2:nth-child(2) {background-color: white;}
.slider2 .slide2:nth-child(3) {background-color: white;}

.slider2 .slide2:nth-child(4) {background-color: white;}
.slider2 .slide2:nth-child(5) {background-color: white;}

.slider2 .slide2:nth-child(6) {background-color: white;}


.mainnav {display: flex; padding-left: 0.5em; padding-right: 0.5em;justify-content: space-between; padding-top: 0.5em;}
.mainnav p {font-size: 1.8em;}
.about {margin-left: 3em;}
.hyperpro {background-color: black; height: 1.8em; margin-top: 0.5em;}
.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 25px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 35s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(-50%); }
  to { transform: translateX(0); }
}
.content {color: white; font-size: 1em; padding-top: 0.3em;}

.marquee2 {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 400px;
  overflow-x: hidden;
   overflow-y: hidden;
    margin-bottom: 3%;
}

.track2 {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee2 35s linear infinite;
}

@keyframes marquee2 {
  from { transform: translateX(0%); }
  to { transform: translateX(-50%); }
}
.content2 {font-size: 18em; position: relative; top: -22px;}

.marquee3 {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 400px;
  overflow-x: hidden;
   overflow-y: hidden;
     margin-bottom: 3%;
}

.track3 {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee3 35s linear infinite;
}

@keyframes marquee3 {
   from { transform: translateX(-50%); }
  to { transform: translateX(0); }
}
.content3 {font-size: 18em; position: relative; top: -22px;}
.main{z-index: 9999999;}
.detail {z-index: 9999999;}
.cursor {position: absolute;
left: 0;
top: 0;
width: 200px;
height: 100px;
z-index: 2;}

.firstbox{height: 1080px;}
.secondbox 
.indextext{display: flex; margin-top: 30px;margin-left: 1em;  line-height: 5.4em;} 
.indextext p {font-size: 4.5em;}
.left {margin-right: 5em;}
.indextext2{display: flex; margin-top: 0.3em;margin-left: 1em;  line-height: 5.4em;} 
.indextext2 p {font-size: 4.5em;}
.left2 {margin-right: 7.6em;}
.left3 {margin-right: 5.6em;}
.indextext3{display: flex; margin-top: 130px;margin-left: 1em;  line-height: 5.4em;} 
.indextext3 p {font-size: 4.5em;}
.left4 {margin-right: 4.8em;}
.indextext4{display: flex; margin-top: 130px;margin-left: 0.4em;  line-height: 5.4em;} 
.indextext4 img{width: 5%;}
.indextext4 p {font-size: 4.5em;}
.left5 {margin-right: 8em; margin-left: 0.2em;}
.indextext5{display: flex; margin-top: 0.3em;  line-height: 5.4em;} 
.indextext5 p {font-size: 4.5em;}
.left6 {margin-right: 8.1em;}
.indextext6{display: flex; margin-top: 0.3em;margin-left: 5.7em;  line-height: 5.4em;} 
.indextext6 p {font-size: 4.5em;}
.indextextnew {display: flex; margin-top: 130px;margin-left: 1em;  line-height: 5.4em;}
.indextextnew p {font-size: 4.5em;}
.leftnew {margin-right: 7.6em;}
.left7 {margin-right: 8.7em;}
.indextext7{display: flex; margin-top: 130px;margin-left: 1em;  line-height: 5.4em;} 
.indextext7 p {font-size: 4.5em;}
.left8 {margin-right: 6.2em;}
.indextext8{display: flex; margin-top: 0.3em;margin-left: 1em;  line-height: 5.4em;} 
.indextext8 p {font-size: 4.6em;}
.left9 {margin-right: 5.8em;}
.left10 {margin-right: 3.6em;}
.indextext9{display: flex; margin-top: 130px;margin-left: 1em;  line-height: 5.4em; justify-content: space-between;} 
.indextext9 p {font-size: 3.6em;}
.indextext9 img {width: 40%; position: relative; bottom: 5em; left: 1em; padding-right: 20px;}
.indextext10{display: flex; margin-top: 0px;margin-left: 1em;  line-height: 5.4em;} 
.indextext10 p {font-size: 4.6em;}
.indextext11{display: flex; margin-top: 150px;margin-left: 45em;  line-height: 5.4em;} 
.indextext11 p {font-size: 4.6em;}
.indextext12{display: flex; margin-top: 130px;margin-left: 1em;  line-height: 5.4em;} 
.indextext12 p {font-size: 4.6em;}
.left11 {margin-right: 5.3em;}
.left12 {margin-right: 7.5em; margin-left: 1.6%;}
.left13 {margin-right: 7.3em;}
.left14 {margin-right: 6.6em;}
.left15 {margin-right: 6.9em;}
.left16 {margin-right: 7.2em;}
.left17 {margin-right: 7em;}
.Hankyong {display: flex; margin-top: 0.3em; margin-left: 1em;line-height: 4em; 
  justify-content: space-between; width: 100%; margin-bottom: 150px; flex-wrap: wrap;}
.Hankyong p {font-size: 2.8em;}
.Hankyong img {width: 20%;  bottom: 2em; margin-right: 2em;}
.aboutflex{display: flex; margin-left: 1em; margin-top: 3em; justify-content: space-between;}
.aboutp {font-size: 2.8em; margin-left: 0.3em;}
.flexbox1 {width: 49%;}
.flexbox2 {font-size: 1.4em; width: 49%; line-height: 123%}
.last {display: flex; margin-left: 0.3em; justify-content: space-between; font-size: 2em;}
.hknu {font-size: 2.8em; margin-left: 0.3em;}
.stage1 {font-size: 18em; margin-top: 150px; margin-left: 10px;}
.stage1 img {width: 48%; margin-left: 730px; margin-bottom: 70px;}
.stage1rule {font-size: 18em; margin-left: 10px;}
.humanmade {font-size: 2.5em; margin-left: 0.7em;}
.ruleimg {width: 70%; margin-left: 1.5em; margin-bottom: 10%; margin-top: 2%;}
.ruleimg2 {width: 77%; margin-left: 1.5em;margin-bottom: 10%;}
.ruleimg3 {width: 90%; margin-left: 0.3em;margin-bottom: 7%;}
.bigtext {font-size: 18em; display: flex; margin-top: 70px; justify-content: space-between;}
.pa1 {width: 80%; margin-top: 70px; margin-left: 10%; }
.pa2 {width: 78%; margin-top: 70px; margin-left: 10%; margin-top: 3%;  }
.stage2img{width: 80%; margin-left: 10%; margin-bottom: 120px;}
.signflexbox {display: flex; margin-left: 1em; margin-top: 2em; justify-content: space-between; margin-right: 1em;margin-bottom: 4%;}
.signflex1 {width: 51%; }
.signflex2 {font-size: 2em; position: relative;}
.signflex3 {font-size: 2em;}
.signp {font-size: 2em; margin-left: 1em;margin-bottom: 4%;}
.stage3 {z-index: 1;}
.grotesk {z-index: 1;}
.indexlink {font-size: 2em; margin-left: 1em; display: flex; flex-direction:column;}
.linkimg {width: 30%; float: right; margin-right: 3%; position: relative; visibility: hidden;}
.linkimgmake0 {top: 0%; position: absolute; width: 100%;}
.imgactive {visibility: visible;}
.pa1 {display: flex; justify-content: center; align-items: center;}
.sero {width: 12.3%; height: 16.5%;}
.garo {width: 16.5%; height: 12.3%; }
.closeimage{z-index: 999999; }
.closeimage  img { width: 100%;

    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
.closeimage:hover img {
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -ms-transform:scale(1.5);   
    -o-transform:scale(1.5);
    transform:scale(1.5);
}

.roadsignindex {top: 7%; position: relative; margin-bottom: 7%;}
  ol {list-style: none; padding: 0; padding-left: 0.5em; }
  .test1 {display: flex; font-size: 1em; justify-content: space-between; 
    position: absolute; top: 22%; width: 100%; z-index: 99999;}
  .testbox1 {width: 14.2%; }
  .testbox2 {width: 8.8%; }
  .testbox3 {width: 7.8%; }
  .testbox4 {width: 9.3%; }
  .testbox5 {width: 12%;}
  .testbox6{width: 13.5%; }
  .testbox7 {width: 11%; }
  .testbox8 {width: 8%;}
  .testbox9 {width: 15.4%;}

.everylogo {display: flex;justify-content: space-around; flex-wrap: wrap; margin-left: 3%; }
.everylogo img {width: 80%; margin-bottom: 3%; }
.textalign {text-align: center;}
.everything {width: 20%;font-size: 1.3em;  }
.marginbottom {margin-bottom: 4%;}
.popupimg {width: 40%; position: absolute;  margin-left: 30%; top: 31%;
  visibility:hidden; }
.linkimgmake1 {top: 0%; position: absolute; width: 100%; }
.popuplink1 { z-index: 9999999;}
.textmargin {margin-left: 5.7%;}
.arrow {width: 3%; padding-left: 0.5%;}
.signmargin {position: absolute; left: 30%}
.flexbox25{width: 25%;}

@media only screen and (min-width: 1824px) {
  .slider {
  position: relative;
  width: 100%;
  height: 2300px;
  overflow: hidden;
  
  background-color: black;
  top: -470px;}

.roadsign {width: 30%; position: relative; top: -800px; left: 37%; z-index: 10; filter: drop-shadow(10px 10px 10px #fff)}
.bar {width: 3%; position: relative; left: 50%; top:500px;}
.textsign {width: 30%; position: relative; top: -700px; left: 37%;filter: drop-shadow(10px 10px 10px #fff) }
.signnumber {font-size: 2.8em; position: relative; top: -466px; left: 80.5%;}
.close {font-size: 3em; }
.number{font-size: 3em;}
.classfication1 p {font-size: 2.2em; }
.classfication2 p {font-size: 2.2em;  }
  .name {font-size: 2.2em; }
  .text1 { font-size: 1.4em; line-height: 1.7em;}
  .text2 {width: 1420px; font-size: 1.7em; line-height: 1.6em; margin-top: 280px; }
.nav2 p {font-size: 3.3em;}
  .nav3 p {font-size: 3.8em;}
  .nav4 p {font-size: 3.8em;}
.nav4{height: 100px; margin-top: 50px; padding: 0.5em; position: relative; top: -455px; }
.nav5 p {font-size: 3.8em;}
.nav6{height: 100px; margin-top: 50px; padding: 0.5em; padding-top: 1.5em; top: 300px;}
.nav6 p {font-size: 2em; }
.mainnav p {font-size: 2.8em;}
.indextext{display: flex; margin-top: 30px;margin-left: 1em;  line-height: 6.4em;} 
.indextext p {font-size: 5.5em;}
.left {margin-right: 7em;}
.indextext2{display: flex; margin-top: 0.3em;margin-left: 1em;  line-height: 6.4em;} 
.indextext2 p {font-size: 5.5em;}
.left2 {margin-right: 9.6em;}
.left3 {margin-right: 7.6em;}
.indextext3{display: flex; margin-top: 130px;margin-left: 1em;  line-height: 6.4em;} 
.indextext3 p {font-size: 5.5em;}
.left4 {margin-right: 6.8em;}
.indextext4{display: flex; margin-top: 130px;margin-left: 0.4em;  line-height: 6.4em;} 
.indextext4 img{width: 5%;}
.indextext4 p {font-size: 5.5em;}
.left5 {margin-right: 10.2em; margin-left: 0.2em;}
.indextext5{display: flex; margin-top: 0.3em; line-height: 6.4em;} 
.indextext5 p {font-size: 5.5em;}
.left6 {margin-right: 10.2em;}
.indextext6{display: flex; margin-top: 0.3em; line-height: 6.4em;} 
.indextext6 p {font-size: 5.5em;}
.left7 {margin-right: 10.8em;}
.indextextnew {display: flex; margin-top: 130px;margin-left: 1.3em;  line-height: 6.4em;}
.indextextnew p {font-size: 5.5em;}
.leftnew {margin-right: 9.6em;}
.indextext7{display: flex; margin-top: 130px;margin-left: 1em;  line-height: 6.4em;} 
.indextext7 p {font-size: 5.5em;}
.left8 {margin-right: 8.3em;}
.indextext8{display: flex; margin-top: 0.3em;margin-left: 1em;  line-height: 6.4em;} 
.indextext8 p {font-size: 5.6em;}
.left9 {margin-right: 7.9em;}
.left10 {margin-right: 5.7em;}
.indextext9{display: flex; margin-top: 130px;margin-left: 1em;  line-height: 6.4em; justify-content: space-between;} 
.indextext9 p {font-size: 5.6em;}
.indextext9 img {width: 40%; position: relative; bottom: 5em; left: 1em; padding-right: 20px;}
.indextext10{display: flex; margin-top: 0px;margin-left: 1em;  line-height: 6.4em;} 
.indextext10 p {font-size: 5.6em;}
.indextext11{display: flex; margin-top: 150px;margin-left: 66em;  line-height: 6.4em;} 
.indextext11 p {font-size: 5.6em;}
.indextext12{display: flex; margin-top: 130px;margin-left: 1em;  line-height: 6.4em;} 
.indextext12 p {font-size: 5.6em;}
.left11 {margin-right: 7.3em;}
.left12 {margin-right: 9.5em; margin-left: 1.6%;}
.left13 {margin-right: 9.3em;}
.left14 {margin-right: 8.6em;}
.left15 {margin-right: 8.9em;}
.left16 {margin-right: 9.2em;}
.left17 {margin-right: 9em;}
.Hankyong {display: flex; margin-top: 0.3em; margin-left: 1em;line-height: 5em; justify-content: space-between; width: 100%; margin-bottom: 150px;}
.Hankyong p {font-size: 3.8em;}
.Hankyong img {width: 20%;  bottom: 2em; margin-right: 2em;}
.aboutflex{display: flex; margin-left: 1em; margin-top: 3em; justify-content: space-between;}
.aboutp {font-size: 3.8em; margin-left: 0.3em;}
.flexbox1 {width: 49%;}
.flexbox2 {font-size: 1.9em; width: 49%; line-height: 121%}
.last {display: flex; margin-left: 0.3em; justify-content: space-between; font-size: 4em;}
.hknu {font-size: 3.8em; margin-left: 0.3em;}
.test1 {     font-size: 1.5em;
    line-height: 127%;}
.signimg {position: relative; left: -136px;}
}

@media only screen and (min-width: 2400px) {
  .slider {
  position: relative;
  width: 100%;
  height: 2300px;
  overflow: hidden;
  
  background-color: black;
  top: -470px;}
.content {color: white; font-size: 2em; padding-top: 0.3em;}
.hyperpro {background-color: black; height: 3em; margin-top: 0.5em;}
.content2 {font-size: 28em; position: relative; top: -22px;}
.marquee2 {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 500px;
  overflow-x: hidden;
   overflow-y: hidden;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 60px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.content3 {font-size: 28em; position: relative; top: -22px;}
.marquee3 {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 500px;
  overflow-x: hidden;
   overflow-y: hidden;
}



.roadsign {width: 30%; position: relative; top: -800px; left: 37%; z-index: 10; filter: drop-shadow(10px 10px 10px #fff)}
.bar {width: 3%; position: relative; left: 50%; top:500px;}
.textsign {width: 30%; position: relative; top: -700px; left: 37%;filter: drop-shadow(10px 10px 10px #fff) }
.signnumber {font-size: 2em; position: relative; top: -470px; left: 81.5%;}
.close {font-size: 3em; }
.number{font-size: 3em;}
.classfication1 p {font-size: 2.2em; }
.classfication2 p {font-size: 2.2em; }
  .name {font-size: 2.2em;  }
  .text1 { font-size: 1.4em; line-height: 1.7em;}
  .text2 {width: 1920px; font-size: 1.7em; margin-top: 300px; line-height: 1.6em; }
.nav2 p {font-size: 3.3em;}
.signname {margin-left: -18%;}
  .nav3 p {font-size: 3.8em;}
  .signnumber {font-size: 3em; position: relative; top: -480px; left: 81.5%;}
  .nav4 p {font-size: 3.8em;}
.nav4{height: 100px; margin-top: 50px; padding: 0.5em; position: relative; top: -455px; }
.nav5 p {font-size: 3.8em;}
.nav6{height: 100px; margin-top: 50px; padding: 0.5em; padding-top: 1.5em; top: 300px;}
.nav6 p {font-size: 2em; }
.mainnav p {font-size: 3.8em;}
.indextext{display: flex; margin-top: 430px;margin-left: 1em;  line-height: 7.4em;} 
.indextext p {font-size: 6.5em;}
.left {margin-right: 7em;}
.indextext2{display: flex; margin-top: 0.3em;margin-left: 1em;  line-height: 7.4em;} 
.indextext2 p {font-size: 6.5em;}
.left2 {margin-right: 9.6em;}
.left3 {margin-right: 7.6em;}
.indextext3{display: flex; margin-top: 130px;margin-left: 1em;  line-height: 7.4em;} 
.indextext3 p {font-size: 6.5em;}
.left4 {margin-right: 6.9em;}
.indextext4{display: flex; margin-top: 130px;margin-left: 0.4em;  line-height: 7.4em;} 
.indextext4 img{width: 5%;}
.indextext4 p {font-size: 6.5em;}
.left5 {margin-right: 10em; margin-left: 0.2em;}
.indextext5{display: flex; margin-top: 0.3em;  line-height: 7.4em;} 
.indextext5 p {font-size: 6.5em;}
.left6 {margin-right: 10em;}
.indextext6{display: flex; margin-top: 0.3em; line-height: 7.4em;} 
.indextext6 p {font-size: 6.5em;}
.left7 {margin-right: 10.6em;}
.indextextnew {display: flex; margin-top: 130px;margin-left: 1.3em;  line-height: 7.4em;}
.indextextnew p {font-size: 6.5em;}
.leftnew {margin-right: 9.6em;}
.indextext7{display: flex; margin-top: 130px;margin-left: 1em;  line-height: 7.4em;} 
.indextext7 p {font-size: 6.5em;}
.left8 {margin-right: 8.3em;}
.indextext8{display: flex; margin-top: 0.3em;margin-left: 1em;  line-height: 7.4em;} 
.indextext8 p {font-size: 6.6em;}
.left9 {margin-right: 7.9em;}
.left10 {margin-right: 5.7em;}
.indextext9{display: flex; margin-top: 130px;margin-left: 1em;  line-height: 7.4em; justify-content: space-between;} 
.indextext9 p {font-size: 6.6em;}
.indextext9 img {width: 40%; position: relative; bottom: 5em; left: 1em; padding-right: 20px;}
.indextext10{display: flex; margin-top: 0px;margin-left: 1em;  line-height: 7.4em;} 
.indextext10 p {font-size: 6.6em;}
.indextext11{display: flex; margin-top: 150px;margin-left: 77em;  line-height: 7.4em;} 
.indextext11 p {font-size: 6.6em;}
.indextext12{display: flex; margin-top: 130px;margin-left: 1em;  line-height: 7.4em;} 
.indextext12 p {font-size: 6.6em;}
.left11 {margin-right: 7.3em;}
.left12 {margin-right: 9.5em; margin-left: 1.6%;}
.left13 {margin-right: 9.3em;}
.left14 {margin-right: 8.6em;}
.left15 {margin-right: 8.9em;}
.left16 {margin-right: 9.2em;}
.left17 {margin-right: 9em;}
.Hankyong {display: flex; margin-top: 0.3em; margin-left: 1em;line-height: 6em; justify-content: space-between; width: 100%; margin-bottom: 150px;}
.Hankyong p {font-size: 4.8em;}
.Hankyong img {width: 20%;  bottom: 2em; margin-right: 2em;}
.aboutflex{display: flex; margin-left: 1em; margin-top: 3em; justify-content: space-between;}
.aboutp {font-size: 5.8em; margin-left: 0.3em;}
.flexbox1 {width: 49%;}
.flexbox2 {font-size: 2.6em; width: 49%; line-height: 121%}
.last {display: flex; margin-left: 0.3em; justify-content: space-between; font-size: 3.5em;}
.hknu {font-size: 3.8em; margin-left: 0.3em;}
.stage1 {font-size: 24em; margin-top: 150px; margin-left: 10px;}
.stage1 img {width: 50%; margin-left: 1250px; margin-bottom: 70px;}
.stage1rule {font-size: 24em; margin-left: 10px;}
.humanmade {font-size: 4.8em; margin-left: 0.7em;}
.ruleimg {margin-left: 20px; }
.ruleimg2 { margin-left: 20px;}
.ruleimg3 {width: 90%; margin-left: 20px;margin-bottom: 7%;}
.bigtext {font-size: 24em; display: flex; justify-content: space-between; margin-top: 70px;margin-bottom: 7%;}
.pa1 {width: 80%; margin-top: 70px; margin-left: 10%; margin-bottom: 7%;}
.pa2 {width: 78%; margin-top: 70px; margin-left: 10%; margin-top: 3%; margin-bottom: 7%; }
.stage2img{width: 80%; margin-left: 10%; margin-bottom: 120px;}
.signflexbox {display: flex; margin-left: 1em; margin-top: 2em; justify-content: space-between; margin-right: 2em;margin-bottom: 3%;}
.signflex1 {width: 51%; }
.signflex2 {font-size: 3.4em; position: relative;}
.signflex3 {font-size: 3.4em;}
.signp {font-size: 3.4em; margin-left: 1em;}
.indexlink {font-size: 3.4em; margin-left: 1em; display: flex; flex-direction:column;}


.slider{height: 2800px;}
.test1 { font-size: 2em;}
}